* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-height: 1550px;
  height: 900px;
  width: 500px;
  background-color: lightgrey;
  margin: 10vh auto;
  border-radius: 10px;
  padding: 1em;
}

.header {
  text-align: center;
  margin-block-end: 1.5em;
}

.caution {
  font-size: 1.2em;
  font-weight: bold;
  margin-block-end: 1em;
}

.instruction-text {
  font-size: 1.1em;
  font-weight: 700;
  margin-block-end: 1em;
}

/* .input-container {
} */

label {
  font-size: 1.15em;
}
.input {
  display: flex;
  align-items: center;
}
.input:not(:last-child) {
  margin-bottom: 2em;
}

/* input {
  margin-left: 3em;
} */
input {
  padding: 0.15em;
  border: none;
  border-radius: 2px;
}
input:focus {
  outline: none;
}

.weather-input {
  margin-left: 5.5em;
}

.food-input {
  margin-left: 7.2em;
}
.location-input {
  margin-left: 5.2em;
}
.wed_type-input {
  margin-left: 2em;
}

.input [type="text"] {
  width: 50%;
  padding: 0.5em;
}

.btn {
  margin-block-start: 1.5em;
  display: flex;
  float: right;
  text-decoration: none;
}
.btn button {
  padding: 0.6em;
  background-color: rgb(14, 101, 104);
  font-size: 1em;
  color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.btn button:hover {
  transform: scale(1.1);
  transition: 250ms ease-in-out;
}

.btn .result {
  margin-right: 2em;
}

/* OUTPUT SECTION... */

.output-container {
  height: 280px;
  width: 468px;
  background-color: #fff;
  margin-block-start: 6em;
  padding: 1.8em 1em;
  border-radius: 3px;
}

.output {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.output-label {
  font-size: 1.2em;
  font-weight: bold;
}

.output-text {
  font-weight: bold;
}

.weather-text {
  margin-left: 1.15em;
}
.food-type-text {
  margin-left: 0.5em;
}
.location-text {
  margin-left: 1.12em;
}
.wed-type-text {
  margin-left: 0.5em;
}

/* UTILITIES..... */
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* .output-text {
  font-size: 1em;
  margin-left: 1em;
} */
